{{!-- If the files are loading, show the loading state --}}
{{#if isLoading}}
  Loading...
{{else}}

  {{!-- Check if things resulted in a error --}}
  {{#if isRejected}}
    There was a problem loading the files!
  {{else}}

    {{!-- If there was no error, list the files --}}
    <ul>
    {{#each files}}
      {{#if isFolder}}
        <li class="repoTreeName repoFolder">
          <span class="repoTreeIcon glyphicon glyphicon-folder-close"></span>
          {{#link-to 'repo.files' path}}
            {{name}}
          {{/link-to}}
        </li>
      {{else}}
        <li class="repoTreeName repoFile">
          <span class="repoTreeIcon glyphicon glyphicon-list-alt"></span>
          <a {{action 'downloadFile' name}}>
            {{name}}
          </a>
        </li>
      {{/if}}
    {{/each}}
    </ul>

  {{/if}}
{{/if}}
