{{#if newFiles}}
  <h4 class='card-header'>Uploaded Files</h4>
  <ul class='card-list'>
    {{#each newFiles as |file|}}
      <li>
        <a>
          <i class="fa fa-file-code-o"></i> {{file.name}}
        </a>
      </li>
    {{/each}}
  </ul>

  <div {{action 'uploadFiles'}} class="button-float upload">
    <i class='fa fa-cloud-upload'></i>
  </div>
{{/if}}

<h4 class='card-header'>Repository</h4>
<ul class='card-list'>
  {{!-- If the files are loading, show the loading state --}}
  {{#if isLoading}}
    Loading...
  {{else}}

    {{!-- Check if things resulted in a error --}}
    {{#if isRejected}}
      There was a problem loading the files!
    {{else}}

      {{!-- If there was no error, list the files --}}
      {{#each files as |file|}}
        <li>
        {{#if file.isFolder}}
          {{#link-to 'repo.files' file.path}}
            <i class="fa fa-folder-o"></i> {{file.name}}
          {{/link-to}}
        {{else}}
          <a {{action 'downloadFile' file.name}}>
            <i class="fa fa-file-code-o"></i> {{file.name}}
          </a>
        {{/if}}
        </li>
      {{/each}}

    {{/if}}
  {{/if}}
</ul>
