{{!-- If the files are loading, show the loading state --}}
{{#if isLoading}}
  Loading...
{{else}}

  {{!-- Check if things resulted in a error --}}
  {{#if isRejected}}
    There was a problem loading the files!
  {{else}}

    {{!-- If there was no error, list the files --}}
    {{#each files as |file|}}
      <li class="no-link">
      {{#if file.isFolder}}
        {{#link-to 'repo.files' file.path}}
          {{file.name}}
        {{/link-to}}
      {{else}}
        <a {{action 'downloadFile' file.name}}>
          {{file.name}}
        </a>
      {{/if}}
      </li>
    {{/each}}

  {{/if}}
{{/if}}
